* {
  box-sizing: border-box;
}
body {
  font-size: 14px;
}
.v1_2 {
  width: 100%;
  height: 1200px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v1_3 {
  width: 100%;
  height: 93px;
  background: url("../images/v1_3.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  padding: 24px 860px;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v1_4 {
  width: 200px;
  height: 60px;
  background: url("../images/v1_4.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 24px;
  left: 860px;
  overflow: hidden;
}
.v1_5 {
  width: 279px;
  color: url("../images/v1_5.png");
  position: absolute;
  top: 9px;
  left: 0px;
  font-family: Poppins;
  font-weight: Regular;
  font-size: 36px;
  opacity: 1;
  text-align: left;
}
.v1_6 {
  width: 100%;
  height: 68px;
  background: rgba(248,248,248,1);
  padding: 9px 8px;
  margin: 8px;
  opacity: 1;
  position: absolute;
  top: 93px;
  left: 0px;
  overflow: hidden;
}
.v1_7 {
  width: 163px;
  height: 50px;
  background: url("../images/v1_7.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  padding: 12px 20px;
  opacity: 1;
  position: absolute;
  top: 9px;
  left: 8px;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
  overflow: hidden;
}
.v1_8 {
  width: 123px;
  color: rgba(34,34,36,1);
  position: absolute;
  top: 12px;
  left: 20px;
  font-family: Inter;
  font-weight: Semi Bold;
  font-size: 16px;
  opacity: 1;
  text-align: left;
}
.v1_9 {
  width: 263px;
  height: 50px;
  background: url("../images/v1_9.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  padding: 12px 20px;
  opacity: 1;
  position: absolute;
  top: 9px;
  left: 179px;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
  overflow: hidden;
}
.v1_10 {
  width: 223px;
  color: rgba(34,34,36,1);
  position: absolute;
  top: 12px;
  left: 20px;
  font-family: Inter;
  font-weight: Semi Bold;
  font-size: 16px;
  opacity: 1;
  text-align: left;
}
.v1_11 {
  width: 166px;
  height: 50px;
  background: url("../images/v1_11.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  padding: 12px 20px;
  opacity: 1;
  position: absolute;
  top: 9px;
  left: 450px;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
  overflow: hidden;
}
.v1_12 {
  width: 126px;
  color: rgba(34,34,36,1);
  position: absolute;
  top: 12px;
  left: 20px;
  font-family: Inter;
  font-weight: Semi Bold;
  font-size: 16px;
  opacity: 1;
  text-align: left;
}
.v1_13 {
  width: 100%;
  height: 31px;
  background: url("../images/v1_13.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 18px;
  left: 624px;
  overflow: hidden;
}
.v1_14 {
  width: 36px;
  height: 31px;
  background: url("../images/v1_14.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 1258px;
  overflow: hidden;
}
.v1_15 {
  width: 20px;
  color: rgba(34,34,36,1);
  position: absolute;
  top: 0px;
  left: 0px;
  font-family: Inter;
  font-weight: Regular;
  font-size: 19px;
  opacity: 1;
  text-align: left;
}
.v1_16 {
  width: 100%;
  height: 434px;
  background: url("../images/v1_16.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  padding: 48px 24px;
  margin: 32px;
  opacity: 1;
  position: absolute;
  top: 161px;
  left: 386px;
  overflow: hidden;
}
.v1_17 {
  width: 422px;
  height: 320px;
  background: url("../images/v1_17.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 48px;
  left: 24px;
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;
  border-bottom-left-radius: 12px;
  border-bottom-right-radius: 12px;
  box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.07999999821186066);
  overflow: hidden;
}
.v1_18 {
  width: 645px;
  height: 338px;
  background: url("../images/v1_18.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 48px;
  left: 478px;
  overflow: hidden;
}
.v1_19 {
  width: 645px;
  height: 41px;
  background: url("../images/v1_19.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 1px;
  left: 0px;
  overflow: hidden;
}
.v1_20 {
  width: 539px;
  color: rgba(34,34,36,1);
  position: absolute;
  top: 0px;
  left: 0px;
  font-family: Poppins;
  font-weight: SemiBold;
  font-size: 25px;
  opacity: 1;
  text-align: left;
}
.v1_21 {
  width: 645px;
  height: 81px;
  background: url("../images/v1_21.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 60px;
  left: 0px;
  overflow: hidden;
}
.v1_22 {
  width: 646px;
  color: rgba(50,50,50,1);
  position: absolute;
  top: 0px;
  left: 0px;
  font-size: 16px;
  opacity: 1;
  text-align: left;
}
.v1_23 {
  width: 645px;
  height: 81px;
  background: url("../images/v1_23.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 158px;
  left: 0px;
  overflow: hidden;
}
.v1_24 {
  width: 610px;
  color: rgba(81,81,81,1);
  position: absolute;
  top: 0px;
  left: 0px;
  font-family: Inter;
  font-weight: Regular;
  font-size: 16px;
  opacity: 1;
  text-align: left;
}
.v1_25 {
  width: 281px;
  height: 51px;
  background: rgba(3,84,180,1);
  padding: 12px 24px;
  opacity: 1;
  position: absolute;
  top: 288px;
  left: 0px;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
  overflow: hidden;
}
.v1_26 {
  width: 233px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 12px;
  left: 24px;
  font-family: Inter;
  font-weight: Semi Bold;
  font-size: 16px;
  opacity: 1;
  text-align: left;
}
.v1_27 {
  width: 100%;
  height: 124px;
  background: rgba(255,255,255,1);
  padding: 39px 16px;
  margin: 14px;
  opacity: 1;
  position: absolute;
  top: 595px;
  left: 0px;
  overflow: hidden;
}
.v1_28 {
  width: 100%;
  height: 23px;
  background: url("../images/v1_28.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 39px;
  left: 16px;
  overflow: hidden;
}
.v1_29 {
  width: 100%;
  color: rgba(60,60,60,1);
  position: absolute;
  top: 0px;
  left: 0px;
  font-family: Inter;
  font-weight: Regular;
  font-size: 14px;
  opacity: 1;
  text-align: center;
}
.v1_30 {
  width: 100%;
  height: 24px;
  background: url("../images/v1_30.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin: 16px;
  opacity: 1;
  position: absolute;
  top: 76px;
  left: 16px;
  overflow: hidden;
}
.v1_31 {
  width: 24px;
  height: 24px;
  background: url("../images/v1_31.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 872px;
  overflow: hidden;
}
.v1_32 {
  width: 11px;
  height: 20px;
  background: url("../images/v1_32.png");
  opacity: 1;
  position: absolute;
  top: 2px;
  left: 7px;
  border: 2px solid rgba(94,94,94,1);
}
.v1_33 {
  width: 24px;
  height: 24px;
  background: url("../images/v1_33.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 912px;
  overflow: hidden;
}
.v1_34 {
  width: 20px;
  height: 17px;
  background: url("../images/v1_34.png");
  opacity: 1;
  position: absolute;
  top: 3px;
  left: 2px;
  border: 2px solid rgba(94,94,94,1);
}
.v1_35 {
  width: 24px;
  height: 24px;
  background: url("../images/v1_35.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 952px;
  overflow: hidden;
}
.v1_36 {
  width: 20px;
  height: 20px;
  background: url("../images/v1_36.png");
  opacity: 1;
  position: absolute;
  top: 2px;
  left: 2px;
  border: 2px solid rgba(94,94,94,1);
}
.v1_37 {
  width: 8px;
  height: 8px;
  background: url("../images/v1_37.png");
  opacity: 1;
  position: absolute;
  top: 7px;
  left: 8px;
  border: 2px solid rgba(94,94,94,1);
}
.v1_38 {
  width: 0px;
  background: url("../images/v1_38.png");
  opacity: 1;
  position: absolute;
  top: 6px;
  left: 17px;
  border: 2px solid rgba(94,94,94,1);
}
.v1_39 {
  width: 24px;
  height: 24px;
  background: url("../images/v1_39.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 992px;
  overflow: hidden;
}
.v1_40 {
  width: 12px;
  height: 13px;
  background: url("../images/v1_40.png");
  opacity: 1;
  position: absolute;
  top: 8px;
  left: 10px;
  border: 2px solid rgba(94,94,94,1);
}
.v1_41 {
  width: 4px;
  height: 12px;
  background: url("../images/v1_41.png");
  opacity: 1;
  position: absolute;
  top: 9px;
  left: 2px;
  border: 2px solid rgba(94,94,94,1);
}
.v1_42 {
  width: 4px;
  height: 4px;
  background: url("../images/v1_42.png");
  opacity: 1;
  position: absolute;
  top: 2px;
  left: 2px;
  border: 2px solid rgba(94,94,94,1);
}
